<%= stylesheet_link_tag "application",media: "all", "data-turbolinks-track": "reload" %>
<div class = "main_contents" >

        <%= image_tag 'img/top.jpg', class: 'about_top_img' %>
        <div class="profile" >
                <p>しぇいみ syeimee</p>
                <p>システムエンジニア</p>
                <p>1993年11月17日生まれ</p>
                <p> 広島県広島市出身</p>
        </div>

        <div class="bgimg">
        <%= image_tag 'img/background.png', class: 'bgimg' %>
        </div>
        <div class="title">
            <p>良いサービスが<p>
            <p>新しいイノベーションを起こし、<p>
            <p>人と人を繋げていく</p>
        </div>

        <div class="subtitle">
            <p>“A Good Service Can Spark New Innovations <br>
                and Connect People”</p>
        </div>

        <div class="main_text">
            <p>6年間、塾講師として小中高生の理系科目を指導し、管理職として教室の経営に携わってきました。<br>
                当時は、ルーティンワークも多く、授業の準備に費やせる時間がほぼ無い状況でした。<br>
                業務が削減できれば、今以上に多くの子供たちに質の高い教育を提供できるのではないか？<br>そう思ったことがプログラミング学習を始めるきっかけとなりました。<br><br>
                30歳の節目を迎えるにあたり、IT業界への転職を決意し、現在はバックエンドエンジニアとして日々奮闘しています。<br><br>
                良いサービスは、新たなイノベーションを起こし、人と人を繋げるものだと信じています。<br>             
            </p>            
        </div>

        <h1 class="skill_title">SKILL</h1>

        <div class ="skills">

            <div class="skill">
                <%= image_tag 'ico/html.png',class: 'skill_img' %>
                <p class="skill_text">レスポンシブデザイン対応可能です。Figmaを用いてワイヤーフレームを作成しています。</p>
            </div>
            <div class="skill">
                <%= image_tag 'ico/js.png',class: 'skill_img' %>
                <p class="skill_text"> WEBサイトに動きをつけることができます。</p>
            </div>
            <div class="skill">
                <%= image_tag 'ico/java.png',class: 'skill_img' %>
                <p class="skill_text">springフレームワークを使用しています。</p>
            </div>
            <div class="skill">
                <%= image_tag 'ico/ruby.png',class: 'skill_img' %>
                <p class="skill_text">データベース操作も可能です。</p>
            </div>

        </div>

</div>






       














